body {
	padding-top: 20px;
}

@responsive_width: 480px;

@grey: #555;

.intro {
	padding-top: 20px;
	padding-bottom: 20px;

	h1 {
		color: @grey;
		margin-bottom: 0;
		margin-top: 0;
	}
	h2 {
		color: #666;
		margin: 0;
		margin-left: 6px;
	}
	h3 {
		color: #777;
		margin: 0;
		margin-left: 8px;
		margin-bottom: 4px;
	}
	h4 {
		color: #888;
		margin: 0;
		margin-left: 10px;
		margin-bottom: 14px;
	}

	.beta-label {
		font-size:0.3em;
		vertical-align:top;
		position: absolute;
		margin-left: 11px;
		margin-top: -4px;
		background-color: #68BEEF;
	}
	.flag-strip {
		.flag {
			display: inline-block;
		}
	}

	form {
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
			
		.form-group-name {
			label {
				padding-right: 16px;
			}
			input {
				min-width: 69%;
			}
		}

		.form-group-language {
			label {
				padding-right: 16px;
			}
			select {
				min-width: 69%;
			}
		}
		.form-group-submit {
			margin-top: 30px;
			button {
				font-size: 1.75em;
				font-weight: 600;
				width: 70%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.small-intro {
		h1 {
			font-size: 3em;
		}
	}
}

.choose-username {

	text-align: center;
	max-width: 400px;

	.text {

		font-weight: 200;
		font-size: 21px;
		margin-bottom: 8px;

		@media only screen and (min-width: @responsive_width) {
			float:left;
		}
	}
	.input {

		@media only screen and (min-width: @responsive_width) {
			float:left;
			width: 240px;
			margin-left: 12px;
		}

		input {
			margin-top: 8px;
			@media only screen and (min-width: @responsive_width) {
				margin-top: 0;
			}
		}
	}


	@media only screen and (min-width: @responsive_width) {
		margin: 0 auto;	
	}

	
	
}

.button-chat {
	margin-top: 16px;
}

.status-bar {
	.username {
		font-weight: bold;
	}
	.language {
		font-weight: bold;
	}
}

.chat-window {
	.messages {
		border: thin solid #C2C2C2;
		border-bottom:none;
		height: 400px;
		overflow: auto;
		padding: 8px 10px;

		.message {
			// border: thin solid #c2c2c2;
			margin: 0 0 0 2px;
			padding: 0px;

			.username {
				font-weight: bold;
			}
			.message-body {
				.translation {

				}
				.original {
					font-style: italic;
					color: #bbb;
				}
			}
		}
	}
}

.side-col {
	.users-list {
		border: thin solid #C2C2C2;
		height: 400px;
		overflow: auto;
		padding: 8px 10px;

		.title {
			font-weight: bold;
		}

		ul.user-list-ul {
			padding-left: 8px;
			li {
				list-style: none;
			}
		}
	}
}

@userListWidth: 180px;
@chatWindowHeight: 500px;

.chatroom-container {

	
	// width: 100%;
	// height: 500px;
	max-width: 1200px;
	margin: 0 auto;

	.table-wrap {

		display: table;
		width: 100%;
		height: 100%;

		.zrow {
			display: table-row;
			height: @chatWindowHeight;

			.message-container {
				display: table-cell;
				border: thin solid black;
				background-color: white;
				border-right: none;
				border-bottom: none;
				border-top: none;
				padding: 0;
				overflow-y: scroll;

				.messages {
					
					height: 500px;
					overflow-x: hidden;
					white-space: nowrap;
					padding: 6px 0 0 3px;


					.message {
						.username {
							font-weight: bold;
						}
						.message-body {
							.translation {

							}
							.original {
								font-style: italic;
								color: #bbb;
							}
						}
					}
				}
			}
			.user-list {
				border: thin solid black;
				border-top: none;
				border-bottom: none;
				display: table-cell;
				width: @userListWidth;
				background-color: #f5f5f5;

				.user-list-wrap {
					height: @chatWindowHeight;
					width: @userListWidth - 6;
					overflow-y: scroll;
					overflow-x: hidden;
					white-space: nowrap;
					.user-list-heading {
						display: none;
						font-weight: bold;
					}
					ul {
						list-style: none;
						padding: 0 0 0 4px;
					}
				}
			}
		}
	}
	

	.top-line {
		border: thin solid black;
		min-height: 20px;
		background-color: #eee;
	}
	.text-input {
		border: thin solid black;
		min-height: 20px;
		background-color: #000;
		input {
			width: 100%;
			padding: 2px 6px;
			border: none;
		}
	}
}

footer {
	display: none;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
	background: #F5F5F5;
	p {
		margin:0;
	}
}

.google-attribution {
	text-align: center;
	margin-top: 8px;

	a {
		img {
			max-width: 100%;
		}
	}
}