body {
	padding-top: 60px;
}

.choose-language {
	select {

		// line-height: 2em;
		// font-size: 2em;
		margin: 1em;
		// padding:1em;

		option {

		}
	}
}

footer {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
	background: #F5F5F5;
	p {
		margin:0;
	}
}